/*sectión 10*/
.conteProyectos{
    background-color: rgba(23, 145, 145, 0.623);
}
button.btn.btnLogin{
    background-color: rgb(102, 102, 231);
}
.btn.btn-secondary{
    background-color: red;
}
button.btn.btnAgree{
    background-color: green;
}
button.btn.btnMod{
    background-color: skyblue;
}
button.btn.btnDelete{
    background-color: crimson;
}
button.btn.btnCancel{
    background-color: orange;
}