<!--Banner con foto--> 
<section id="todo-sobre-mi" class="about">
    <div class="container-fluid text-center"></div>
    <img src="/assets/img/ALPES SUIZOS.png" alt="" width="100%" height="50%">
</section>
<!-- Modal Banner -->
<!-- Button trigger modal -->
  <br>
  <button type="button" id="btn" data-bs-toggle="modal" data-bs-target="#bannerModal" class="btn btn-close-white editBanner"><i class="fa-solid fa-pencil"></i></button>
  <button type="button" data-bs-toggle="modal" data-bs-target="#eliminarBanner" class="btn btn-close-white"><i class="fa-solid fa-trash-can"></i></button>
  <button type="button" data-bs-toggle="modal" data-bs-target="#crearBanner" class="btn btn-close-white"><i class="fa-solid fa-plus"></i></button>  
  <div class="modal fade" id="bannerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Banner</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form name="bannerForm">  
      <div class="modal-body">
      <!-- formulario de banner-->
      <div class="mb-3">
        <label for="bannerImg" class="form-label">Modificar imagen de banner</label>
        <input class="form-control" type="text" id="bannerImg">
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btnLogin" data-bs-dismiss="modal">Guardar</button>
        <button type="button" class="btn btnDelete" data-bs-dismiss="modal">Borrar</button>   
      </div>
      </form>
    </div>
  </div>
  </div> 
<!--ventanas modales-->
<app-crear-banner></app-crear-banner>
<app-eliminar-banner></app-eliminar-banner>