<!--section 1--> 
      <!--acerca de mi-->
      <section id="Sobre Mi" class="Sobre Mi text-blue">
        <div class="conteSobreMi container-fluid rounded shadow-sm p-3 mb-5"></div>
        <div class="container-fluid text-center">
              <div class="flex-row d-flex">
                 <div class="cl-12 bg-black"></div>
                 <h1 class="mb-0">
                    <img src="/assets/img/profile.jpg" class="perfil rounded-circle w-25" alt="..." title="...">
                    <br>
                    <span class="text-terciary nombre">Miguel Angel Trubiano</span>
                    <br>
                    <span class="tituloPerfil">Desarrollador Web Full Stack Jr</span>
                    <br>
                    <h3 class="mt-5 acerca"> <span class="text-secundary"> Acerca de Mi</span></h3>
                   <h4>Deseo ganar experiencia en desarrollo/programación aplicando y expandiendo las aptitudes adquiridas, teniendo interes en trabajar en equipo para compartir y profundizar habilidades que complementen mis conocimientos de programación y como Front End Developer Junior realizando diferentes programas, para lo cual trato diariamente en mi tiempo libre de recopilar información de cursos, explorando los últimos avances tecnológicos en el mundo del desarrollo web front-end y back-end</h4>
                 </h1> 
              </div>
        </div>
       <div class="row p-3">
          <div class="col-3">
        <!-- Button trigger modal -->
        <button type="button" id="btn" data-bs-toggle="modal" data-bs-target="#profileModal" class="btn btn-close-white"><i class="fa-solid fa-pencil"></i></button>
        <button type="submit" id="btn" class="btn btn-close-white"><i class="fa-solid fa-trash-can"></i></button>
           <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-plus"></i></button>
      </div>
        </div> 
      </section>
    
