  <!--section 6-->
   <!--Awards-->
  <section class="resume-section" id="awards">
    <div class="conteAwards container-fluid rounded shadow-sm p-3 mb-5">
      <div class="resume-section-content">
        <h2 class="mb-5">logros</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="flex-grow-1">
            <ul class="fa-ul mb-0">
              <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Technology and Internet at the Service of Training Certification  
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                Incubadora de Empresas (Business incubator) - Gobierno de Mendoza  Certification
              </li>
              <li>
                <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                <sup>st</sup>
                Diplomatura - Universidad Tecnologica Nacional - Medio Ambiente
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!--<a class="btn btn-primary" href="/index.html" role="button">Volver</a>-->
     </div>
  </section>
  
  <!-- FIN DE AWARDS-->
