<!--section 11-->
<main>
  <article>
    <div class="conteEjemploTexto container-fluid rounded shadow-sm p-3 mb-5">
      <div class="resume-section-content">
        <h2 class="mb-5">Ejemplo</h2>
        <div class="flex-grow-1">
          <h4>Ejemplo de texto</h4>
          <p>Imagen de Higiene y Seguridad</p>
          <strong>Texto.</strong> <img src="assets/img/HyS.jpg"width="350" px> Higiene y Seguridad...... <code> este texto sale en rojo</code>, seguir escribiendo algo.
          <a class="btn btn-primary" href="/index.html" role="button">Volver</a>
          <form>
            <div class="form-group row">
              <label for="usuario" class="col-lg-3 col-form-label"></label>
              <div class="col-lg-9">
                <input type="text" class="form-control">
              </div>
            </div>
          </form>
        </div>
      </div>
      <a class="button" href="#arriba" id="abajo">Volver a arriba</a>
    </div>     
  </article>
  <footer id="main-footer">
    <div class="container">
      <p class="small">Miguel Angel Trubiano Portfolio 2022 &copy;</p>
      <i class="fa-brands fa-whatsapp"> Mi washapp: 54-9-2616714457</i>
    </div>
  </footer>
</main>
