<!--section 5-->
      <!-- Interests-->
      <section class="resume-section" id="interests">
        <div class="conteIntereses container-fluid rounded shadow-sm p-3 mb-5">
          <div class="resume-section-content">
            <h2 class="mb-5">Intereses</h2>
           <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
              <p>Aparte de ser un desarrollador web, disfruto la mayor parte de mi tiempo al aire libre.</p>
              <p class="mb-0">Me gusta programar, por tal motivo busco aprender constantemente y profundizar los conocimientos que e adquirido con las capacitaciones.</p>
              <p class="mb-0">Cuando estoy en mi casa, comparto con mi familia el disfrutar de películas, deportes y programas de televisión de ciencia ficción, aventuras y fantasía. Trato diariamente de recopilar información de cursos y paso gran parte de mi tiempo libre explorando los últimos avances tecnológicos en el mundo del desarrollo web front-end.</p>
              <br>
              <p>Aside from being a web developer, I enjoy most of my time outdoors.</p>
              <p> I like to program, for this reason I constantly seek to learn and deepen the knowledge that I have acquired with the training.</p>
              <p> When I'm at home, I share with my family enjoying science fiction and fantasy movies, sports, and television shows. I try to collect course information on a daily basis and spend much of my free time exploring the latest technological advances in the world of front-end web development.</p>
            </div>
            </div>
          </div>
           <!--<a class="btn btn-primary" href="/index.html" role="button">Volver</a>-->
        </div>
      </section>
        <!-- FIN DE INTERESES-->

