<!--section 7-->
      <!-- Work-->
      <section class="resume-section" id="Work">
        <div class="conteTrabajo container-fluid rounded shadow-sm p-3 mb-5">
          <div class="resume-section-content">
            <h2 class="mb-5">trabajo</h2>
            <!-- Button trigger modal --> 
            <button type="button"  data-bs-toggle="modal" data-bs-target="#trabajoModal" class="btn btn-close-white"><i class="fa-solid fa-pencil"></i></button>
            <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-trash-can"></i></button>
            <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-plus"></i></button>     
       <div class="flex-grow-1" *ngFor="let trabajo of work">
       <h3 class="mb-0">{{trabajo.titulo}}</h3>
       <div>
        <h3>{{trabajo.institucion}}</h3>
        <h3>{{trabajo.texto}}</h3>
        <img [src]="trabajo.img" width="250">
        <div class="flex-shrink-0"><span class="text-secundary">{{trabajo.inicio}} - {{trabajo.fin}}</span></div>
       </div>
      </div>
      <br>
      <br>
    </div>
  </div>

</section> 
   