/*Etiqueta HTML va directamente el nombre*/
/*CLASES VA CON "." (PUNTO) ADELANTE*/
/*ID VA CON EL "#" ADELANTE*/
.banner{
    background-image: linear-gradient(
        rgba(0,0,0,0.4),
        rgba(0,0,0,0.9)),
        url(/Assets/img/ALPES\ SUIZOS.png);
    background-position: center;
    -msm-background-size: cover;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    min-height: 60vh;
    margin-top: -10rem;
}


.navegacion{
    margin-top: -15rem;
}

.perfil{
    margin-top: -15rem;
    border-style: solid;
}

.perfil.w-25{
    width: 15rem !important;
    border-style: solid;
}

.acerca{
    margin-top: 7rem !important;
}

h1.mb-0{
    margin-top: -13rem !important;
}

.tituloPerfil{
    margin-top: -5rem;
   
}
.oficina{
    min-width: 10rem;
}

.nombre{
    font-size: 3rem;
}

/*Barra de navegacion*/
.navbar.navbar-expand-lg.bg-primary{
    background-color: #138bc2 !important; } 


.fa-brands.fa-envelope-o.fa-xl:hover{
    --bs-text-opacity: 1;
    color:yellowgreen !important
}

.fa-brands.fa-facebook.fa-xl:hover{
    --bs-text-opacity: 1;
    color:blue
}

.fa-brands.fa-linkedin.fa-xl:hover{
    --bs-text-opacity: 1;
    color:rgba(8, 123, 91, 0.822)
}

.fa-brands.fa-github.fa-xl:hover{
    --bs-text-opacity: 1;
    color:gray
}

.fa-solid.fa-user.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #FFFFFF
}

.fa-solid.fa-user-unlock.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #FFFFFF 
}

.list-group{
    
    color:white !important
}

h3 {
    background-color: #177fa2;
}
/*sectión 0*/
section.about
{
    margin-top: -10rem;
}

section.panel{
    margin-top: 8rem;
}

/*sectión 1*/
.conteSobreMi{
    background-color: rgba(16, 116, 146, 0.898); 
}


/*sectión 2*/
.conteExperiencia{
    background-color: rgba(23, 145, 145, 0.623);
}

/*sectión 3*/
.conteEstudios{
    background-color: rgba(23, 145, 145, 0.623);
}
 

h2 {
    background-color: rgb(156, 104, 123);
}

.apertura{
    margin-top: -5rem;
}

/*sectión 4*/
.conteSkills{
    background-color: rgba(23, 145, 145, 0.623);
/*}*/


/*{
    background-color: #a1b5cd;
    padding: 20px;
}

div {
    background: #a1b5cd;
}

h1 {
    background-color: #a1b5cd;
}

h1 {
    text-align: center;
}*/
}

.conteTextoTer{
    background-color:rgba(23, 145, 145, 0.623);
}

/*section 5*/
.conteIntereses{
    background-color: rgba(23, 145, 145, 0.623);
}

/*section 6*/
.conteAwards{
    background-color: rgba(23, 145, 145, 0.623);
}

/*sectión 7*/
.conteTrabajo{
    background-color: rgba(23, 145, 145, 0.623);
}

/*sectión 8*/
.conteBancario{
    background-color:rgba(23, 145, 145, 0.623);
}

/*sectión 9*/
.conteDGE{
    background-color:rgba(23, 145, 145, 0.623);
}

/*sectión 10*/
.conteProyectos{
    background-color: rgba(23, 145, 145, 0.623);
}

/*sectión 11*/
.conteEjemploTexto {
    background-color: aqua;
}

#textoTer
{
    width: 600px;
    height: 300px;
    background-color: #1d1d1d;
    color: #FFF;
    margin: 0 auto;
    text-align: left;
    border-radius: 20px;
    padding: 20px; 
    box-shadow: 0px 0px 20px rgba(0,0,0.5);
}   


meter
{
    background-color: #000;
    padding-left: 20px;
    color:rgb(245, 232, 220);
    margin-left: 20px;
    width: 200px;

}




.scrollspy-example {
    position: relative;
    height: 200px;
    margin-top: .5rem;
    overflow: auto;
  }

 
  body {
    margin:0;
    padding:0;        
    background:linear-gradient(#3796d1,#bdced6);
}



main, div, a, span {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

main {
    height:120px;
    position:relative;
    padding-top:30px;
    background-image: linear-gradient(transparent 50%,rgba(69, 141, 209, 0.292) 50%);
    background-size: 3em 3em;
    background-origin: content-box;
    background-attachment: local;
}

.button {
    padding: 10px 45px;
    border-radius: 3px;
    white-space: normal;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    display:block;
    background:#f90;
    color:#fff;
    font-size:18px;
    font-family: sans-serif;
    font-weight:bold;
    text-decoration:none;
    margin:70px auto;       
    width:fit-content;
}

#abajo {
    width:220px;
    position:absolute;
    left:calc(50% - 110px);
    bottom:50px;
}
    button.btn.btn-secondary{
    background-color: red;
}

    button.btn.btnLogin{
        background-color: rgb(102, 102, 231);
    }
    button.btn.btnAgree{
        background-color: green;
    }
    button.btn.btnMod{
        background-color: skyblue;
    }
    button.btn.btnDelete{
        background-color: crimson;
    }
    button.btn.btnCancel{
        background-color: orange;
    }



















    


    
    