.fa-brands.fa-envelope-o.fa-xl:hover{
    --bs-text-opacity: 1;
    color:yellowgreen !important
}

.fa-brands.fa-facebook.fa-xl:hover{
    --bs-text-opacity: 1;
    color:blue
}

.fa-brands.fa-linkedin.fa-xl:hover{
    --bs-text-opacity: 1;
    color:rgba(8, 123, 91, 0.822)
}

.fa-brands.fa-github.fa-xl:hover{
    --bs-text-opacity: 1;
    color:gray
}

.fa-solid.fa-user.fa-xl:hover{
    --bs-text-opacity: 1;
    color: #FFFFFF
}
.list-group{
    --bs-list-group-bg: white;
}

