<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login</h5>
        
      </div>
      <div class="modal-body">
        <form>
        <div class="mb-3 row">
          <label for="exampleInputEmail" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control-plaintext" id="exampleInputEmail" value="email@dominio.com">
          </div>
        </div>
        <div class="mb-3 row">
          <label for="inputPassword" class="col-sm-2 col-form-label">Contraseña</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="inputPassword">
            <div id="emailHelp" class="form-text">Nunca compartiremos tu información con nadie.</div>
          </div>
        </div>
      </form>
      <div class="modal-footer">
        <!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
        <button type="button" class="btn btn-line-primary" data-bs-dismiss="modal"><a routerLink="/dashboard">Iniciar Sesión</a></button>
        <button type="button" class="btn btn-line-secondary" data-bs-dismiss="modal"><a routerLink="/index">Cerrar Sesión</a></button>
      </div>
    </div>
  </div>
</div>








