/*button.btn.btnLogin{
    background-color: rgb(102, 102, 231);
}
.btn.btn-secondary{
    background-color: red;
}*/

.btn.btn-secondary{
    background-color: red;
}
.btn.btn-line-primary{
    background-color: rgb(154, 185, 220);
}
