<!--Modal para crear banner-->
<div class="modal fade" id="crearBanner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Crear Banner</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          
        </div>
        <form name="bannerForm">  
        <div class="modal-body">
            
                <!-- formulario de banner-->
                <div class="mb-3">
                  <label for="bannerImg" class="form-label">Crear imagen de banner</label>
                  <input class="form-control" type="text" id="bannerImg">
                </div>
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btnLogin" data-bs-dismiss="modal">Guardar</button>
          
        </div>
      </form>
      </div>
    </div>
    </div> 
