<!--section 3-->
<!-- Experiencia dashboard-->
<section class="resume-section" id="experience">
  <div class="conteEstudios container-fluid rounded shadow-sm p-3 mb-5">
    <div class="resume-section-content">
      <h2 class="mb-5">Experiencia</h2>
      <!--<h5 class="modal-title" id="exampleModalLabel">Editar Experiencia</h5>-->
      <!-- Button trigger modal -->
      <button type="button" id="btn" data-bs-toggle="modal" data-bs-target="#experienciaModal" class="btn btn-close-white editEducation"><i class="fa-solid fa-pencil"></i></button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#eliminarExperience" class="btn btn-close-white"><i class="fa-solid fa-trash-can"></i></button>
      <button type="button" data-bs-toggle="modal" data-bs-target="#crearExperience" class="btn btn-close-white"><i class="fa-solid fa-plus"></i></button>  
<!-- Fin de Educacion-->
<!-- Modal Educación -->
<div class="modal fade" id="experienciaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">
       <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Experiencia</h5>
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
       <form name="experienciaForm"> 
       <div class="modal-body">
        <!-- formulario de educación-->
        <div class="mb-3">
          <select class="form-select" id="experienciaId">
            <option selected>Seleccionar Experiencia</option>
            <option value="1">ID1</option>
            <option value="2">ID2</option>
            <option value="3">ID3</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="educacionUrl" class="form-label">Modificar Url de Experiencia</label>
          <input class="form-control" type="url" id="educacionUrl">
        </div>
        <div class="mb-3">
          <label for="educacionImg" class="form-label">Modificar Logo de Instituto</label>
          <input class="form-control" type="file" id="educacionImg">
        </div>
        <div class="mb-3">
          <label for="educacionEstudio" class="form-label">Modificar Experiencia</label>
          <input type="text" class="form-control" id="educacionEstudio" placeholder="Nombre nuevo">
        </div>
        <div class="mb-3">
          <label for="educacionPeriodoInicio" class="form-label">Modificar Periodo Inicio</label>
          <input type="date" class="form-control" id="educacionPeriodoInicio">
        </div>
        <div class="mb-3">
          <label for="educacionPeriodoFin" class="form-label">Modificar Periodo Fin</label>
          <input type="date" class="form-control" id="educacionPeriodoFin">
        </div>
        <div class="mb-3">
          <label for="educacionInfo" class="form-label">Modificar Información de Estudio Realizado</label>
          <textarea class="form-control" id="educacionInfo" rows="3"></textarea>
        </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btnCancel" data-bs-dismiss="modal">Cancelar</button>  
         <button type="button" class="btn btnMod" data-bs-dismiss="modal">Modificar</button>  
       </div>
      </form>
     </div>
   </div>
 </div>
 <!--ventanas modales-->
<app-crear-experience></app-crear-experience>
<app-eliminar-experience></app-eliminar-experience>


