/*sectión 1*/
.conteSobreMi{
    background-color: #4ba4dc; 
}
button.btn.btnLogin{
    background-color: rgb(102, 102, 231);
}
.btn.btn-secondary{
    background-color: red;
}
button.btn.btnDelete{
    background-color: crimson;
}



/*sectión 1
.conteSobreMi{
    background-color: rgba(55, 178, 235, 0.708); 
}
button.btn.btnLogin{
    background-color: rgb(102, 102, 231);
}
.btn.btn-secondary{
    background-color: red;
}
button.btn.btnDelete{
    background-color: crimson;
}*/