<!--section 1--> 
      <!--acerca de mi-->
      <section id="Sobre Mi" class="Sobre Mi text-blue">
        <div class="conteSobreMi container-fluid rounded shadow-sm p-3 mb-5"></div>
        <div class="container-fluid text-center">
              <div class="row">
                 <div class="cl-12 bg-black"></div>
                 <h1 class="mb-0">
                    <img src="/assets/img/profile.jpg" class="perfil rounded-circle w-25" alt="..." title="...">
                    <br>
                    <span class="text-terciary nombre"> Miguel Angel Trubiano</span>
                    <br>
                    <span class="tituloPerfil">Desarrollador Web Full Stack Jr</span>
                    <br>
                    <br>
                    <br>
                    <h3 class="mt-5 acerca"> <span class="text-secundary"> Acerca de Mi</span></h3>
                </h1> 
              </div>
             </div>
           
           <div class="row p-3">
            <div class="col-3">
              <!-- Button trigger modal--> 
              <button type="button" id="btn" data-bs-toggle="modal" data-bs-target="#profileModal" class="btn btn-close-white"><i class="fa-solid fa-pencil"></i></button>
              <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-trash-can"></i></button>
              <button type="submit" class="btn btn-close-white"><i class="fa-solid fa-plus"></i></button>
              </div>
              </div>
        <!--</section> -->
        <!-- Modal Sobre Mi -->
        <div class="modal fade" id="sobreMiModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
           <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Editar Texto Sobre Mi</h5>
            </div>
          <div class="modal-body">
            <form name="sobreMiFrom">
              <!-- formulario de Sobre Mi-->
              <div class="mb-3">
                <label for="sobreMiTexto" class="form-label">Modificar Sobre Mi</label>
                <textarea class="form-control" id="sobreMiTexto" rows="3"></textarea>
              </div>
            </form>
          </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btnLogin" data-bs-dismiss="modal">Guardar</button>
              <button type="submit" class="btn btnDelete" data-bs-dismiss="modal">Borrar</button>
            </div>
            </div>
            </div>
          </div>
          <!-- Modal Perfil -->
          <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Editar Perfil</h5>
                </div>
                <div class="modal-body">
                  <form name="perfilForm">
                    <!-- formulario de perfil-->
                     <div class="mb-3">
                        <label for="perfilImg" class="form-label">Modificar imagen de perfil</label>
                         <input class="form-control" type="file" id="perfilImg">
                     </div>
                     <div class="mb-3">
                       <label for="perfilNombre" class="form-label">Modificar Nombre</label>
                        <input type="text" class="form-control" id="perfilNombre" placeholder="Nombre nuevo">
                     </div>
                     <div class="mb-3">
                      <label for="perfilTitulo" class="form-label">Modificar Titulo</label>
                      <input type="text" class="form-control" id="perfilTitulo" placeholder="Título nuevo">
                     </div>
                     </form>
                     </div>
                     <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btnLogin" data-bs-dismiss="modal">Guardar</button>
                      <button type="submit" class="btn btnDelete" data-bs-dismiss="modal">Borrar</button>
                     </div>
               </div>
            </div>
          </div>

